/*
 Main CSS for SchoolConnect Backend
 */
/*Normalizations*/
body, div, h1, h2, p, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}
@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
html, body {
    min-height: 100%;
}
body {
    min-width: 290px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background: #1155BC repeat;
    font: normal 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 2em;
    line-height: 1;
    color: #222;
    margin-bottom: .5em;
    float: left;
    width: 100%;
}
h2 {
    float: left;
    width: 100%;
    font-size: 1em;
    color: #222;
    margin: 1em 0 .5em;
}
p {
    width: 100%;
    margin-bottom: 5px;
}
p.intro {
    font-size: 1.25em;
    color: #555;
    font-weight: bold;
}
a {
    color: blue;
    text-decoration: none;
}
h4 {
    margin-bottom: 5px;
}
/*Fix bold font on Firefox on macOS*/
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/*Main CSS*/
.infotext {
    width: 100%;
}
.main a:active{}
.main a:hover {
    text-decoration: underline;
}
.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    padding: 3em 4em;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    border-top-left-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0, .6);
    top: .8em;
    right: 0;
    bottom: 0;
    width: 76%;
    background: #fff;
}
.main::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0, .15);
    width: 8px;
    height: 8px;
}
.main::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #1155BC;
}
.nav-collapse {
    position: absolute;
    width: 24%;
    top: 2em;
    left: 0;
}
.nav-collapse ul {
    display: block;
    width: 100%;
    list-style: none;
}
.nav-collapse li {
    width: 100%;
    display: block;
}
.sub{
    margin-left: 15px;
    font-size: 14px;
}
.nav-collapse a {
    color: white;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
    display: block;
    padding: .6em 2em;
    width: 100%;
}
.subnav {
    padding: .6em 3em !important;
}
.nav-collapse a:hover {
    background: #2067CB;
}
.nav-collapse .active a {
    color: #fff;
    background: #2067CB;
}
.nav-collapse li:first-child a {
    border-top: 0;
}
.nav-collapse li:last-child a {
    border-bottom: 0;
}
.nav-toggle {
    display: none;
}
.nodisplay {
    display: none !important;
}
.invisible {
    visibility: hidden;
}
.top img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.top li {
    text-align: center;
    font-family: arial, sans-serif;
    color: white;
    font-size: 23px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 3px;
}
.top {
    width: 100%;
    align-content: center;
    top: 0px;
    background-color: #1155BC;
}
.headline {
  font-family: Arial, sans-serif;
  font-size: 45px;
}
.page-previous {
  display: none;
}
/*Responsive CSS*/
@media screen and (min-width: 1001px) {
    .mobile-menu-toggle {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .nav-collapse {
        clip: rect(0 0 0 0);
        max-height: 0;
        display: block;
        overflow: hidden;
        top: 0;
        width: 100%;
        position: relative;
        transition: max-height 284ms;
    }
    .nav-collapse.opened {
        max-height: 1150px;
    }
    .nav-collapse a:hover {
        background: transparent;
    }
    .nav-collapse .active a:hover {
        color: #fff;
        background: rgba(0,0,0, .3);
    }
    .mobile-menu-toggle {
        width: 100%;
        height: calc(45px + .8em);
        position: fixed;
        left: 0px;
        top: 0px;
        color: black;
        transition: background-color 0.5s;
    }
    .mobile-menu-toggle .hamburger {
        margin-top: .8em;
        float: right;
        color: black;
    }
    html:not(.js-nav-active) .mobile-menu-toggle.scrolled {
        background: rgba(256, 256, 256, .85);
    }
    @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
        html:not(.js-nav-active) .mobile-menu-toggle.scrolled {
            background: rgba(256, 256, 256, .6);
            -webkit-backdrop-filter: saturate(180%) blur(5px) !important;
            backdrop-filter: saturate(180%) blur(5px) !important;
        }
    }
    .main {
        -webkit-overflow-scrolling: auto;
        box-shadow: none;
        padding: 45px 10px 10px;
        padding-bottom: calc(10px + env(safe-area-inset-bottom));
        border-radius: 0;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .main::-webkit-scrollbar {
        background-color: transparent;
    }
    .top img {
        margin-top: 15px;
    }
    .headline {
        font-size: 25px;
        margin-bottom: 5px;
    }
    h3 {
        margin-bottom: 5px;
    }
    .small-menue {
        font-size: 12px;
        margin-left: 20px;
    }
    #timeout {
        margin: 0px;
    }
    .datagrid {
        margin-bottom: 10px;
    }
    .login-shown .main, .login-shown .nav-collapse {
        display: none;
    }
}
@media screen and (max-width: 330px) {
    .headline {
        font-size: 20px;
    }
    h3 {
        font-size: 1.05em
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    body {
        background-color: #1155BC;
        -webkit-background-size: 200px 200px;
        -moz-background-size: 200px 200px;
        -o-background-size: 200px 200px;
        background-size: 200px 200px;
    }
}
@media screen and (min-width: 76em) {
    .nav-collapse {
        width: 18em;
    }
    .main {
        width: auto;
        left: 18em;
    }
}
#timeout {
    color: white;
    padding: .6em 2em;
}
.main button, .form-button {
    background-color: #1155BC;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s;
}
.main button:hover, .form-button:hover, .main button:focus-within {
    background-color: #2067CB;
}
.main button:disabled, .form-button:disabled {
    background-color: gray;
}
.main ul {
    float: left;
    width: 100%;
}
